<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <title>iReporter|Admin</title>
    <script src="../js/admin.js"></script>
</head>
<body>
    <nav class="nav_links">
        <ul class="links">
            <li><span class="logo">iReporter</span></li>
            <li><a href="#">home</a></li>
            <li><a href="adminLogin.html">Logout</a></li>
        </ul>
    </nav>
    <div class="profile_card">
        <div id="profilea">
            <h1>Admin</h1>
            <img src="../imgs/download.png">
            <p>name:senabulya joseph</p>
        </div>
        <div id ="admininterv">
            <table class="admin_table1" >
            <h1>interventions</h1>
            <tr>
                <th>createdby</th>
                <th>createdon</th>
                <th>description</th>
                <th>flag_id</th>
                <th>flag_type</th>
                <th>image</th>
                <th>location</th>
                <th>status</th>
                <th>video</th>
                <th>update status</th>
            </tr>
            <tbody id="interventions_Data"></tbody>
            
           
            </table>
        </div>
        <div id = "adminflags">
            <table class="admin_table2">
            <h1>Red-flags</h1>
            <tr>
                <th>createdby</th>
                <th>createdon</th>
                <th>description</th>
                <th>flag_id</th>
                <th>flag_type</th>
                <th>image</th>
                <th>location</th>
                <th>status</th>
                <th>video</th>
                <th>update status</th>
            </tr>
            <tbody id = "flags_Data"></tbody>
            </table>
        </div>
    </div> 
    <form id="newstatus" class = 'updmodal'>
        <div class = "modal_container">
            <span class="closestatus">&times;</span>
            <label for="newstatus"><b>select a status</b></label>
            <select name="status" id="status" >
                <option value="under investigation">under investigation</option>
                <option value="resolved">resolved</option>
                <option value="rejected">rejected</option>
            </select>
            <button type ="submit">update</button>
        </div>
    </form>  
</body>
</html>